<launch>
<node pkg="Cerium" type="hostHTTP.sh" name="Cerium_App"/>
<include file="/home/nvidia/catkin_ws/src/rosbridge_server/launch/rosbridge_websocket.launch"/>
<node pkg="aliencontrol" type="aliencontrol" name="aliencontrol_main">
    <param name="cmd" value="~/TitanRover2019/userInterface/Cerium/Cerium_Base_Station/main.py"/>
</launch>
